body {
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #fdebfd;
  width: 100%;
  min-height: 100vh;
  padding-left: 10%;
  overflow: auto;
}

.navbar {
  /*background-color: blue;*/
  width: 100%;
  display: flex;
  padding-left: 45px;
}

.logo {
  width: 40px;
  height: 10%;
  padding: 10px 2px 2px;
}

h5 {
  padding-left: 8px;
}

nav {
  flex: 1;
  text-align: left;
  margin-left: 150px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 10px;
  margin-right: 30px;
}

nav ul button {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  background-color: #ed761a;
}

.col-1 {
  float: left;
  width: 40%;
  padding-top: 80px;
  padding-left: 50px;
}

.col-1 h2 {
  font-size: 30px;
}

.col-1 button {
  float: left;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  background-color: #ed761a;
}

.col-2 {
  float: right;
  width: 40%;
  padding-top: 50px;
  margin-right: 60px;
}

.row {
  float: left;
  width: 40%;
  height: 5%;
  padding-left: 50px;
  padding-top: 50px;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 1;
    padding-left: 50px;
  }

  .col-2 {
    width: 100%;
  }
  .col-2 img {
    width: 100%;
    padding-top: 30px;
    padding-left: 50px;
  }
}
